using UnrealSharp.Engine.Core.Modules;

namespace {MODULE_NAME};

public class F{MODULE_NAME} : IModuleInterface
{
    public void StartupModule()
    {

    }

    public void ShutdownModule()
    {

    }
}